.mar-top{
    margin-top:2em;
}

.pnview-master-container{
    display:block;
    height: 100%;
    margin: 0;padding: 0;
    overflow: hidden;
    position: absolute;top:0;bottom: 0;left: 0;right: 0;
    background: #f5f5f5;
}
.pnview-header{
    position: absolute;
    padding: 5px 0;
    border-bottom: none;
}
.header-line{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
}

.header-right{
    position: absolute;right: 0;display: inline-block;height: 35px;padding-right: 2em;
}

.common-section h3{
    font-size: 20px;
    padding: 5px 0;
    color: #555;
    margin-bottom: 10px;
}
.bottom-border{
    border-bottom: #d2d2d2 solid 1px;
}

.pnview-master-container .tab-content{
    position: absolute;
    top: 46px;bottom: 0;left: 0;right: 0;
}
.main-aside{
    height: 100%;width: 120px;float: left;
    background:#f5f5f5 url('./fromold/bg_side.gif') repeat-y right;
}
.main-section{
    background: #FFF;
    margin: 0 0 0 120px;
    height: 100%;
    overflow: auto;
    padding: 3% 3% 50px;
}

.tab-mode{
    position: absolute;
    left: 120px;right:200px;
    bottom: 0;
    white-space: nowrap;

}
.tab-mode a.selected{cursor: default;}
.tab-mode a{
    margin-right: 1%;
    min-width: 5em;
    max-width: 6em;
    text-align: center;
    user-select: none;
}







.link-tab-headers{
    border-bottom: 1px solid #D2D2D2;
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}
.link-tab-headers li{
    user-select: none;
    display: inline-block;
    margin-bottom: -1px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    margin-right: 1em;
    background: #f5f5f5;
}
.link-tab-headers li a{
    color: #555555 !important;
}
.link-tab-headers li.selected{
    border-bottom: 1px solid #FFF;
    background: none;
}
.link-tab-headers li.selected{
    cursor: default;
}

.lang-dropdown{

}
.lang-btn{
    line-height: 35px;
}

.lang-dropdown a{
    color: #555;
}

.lang-dropdown .dropdown__trigger {
    padding: 0 10px;
    min-width: 62px;
    line-height: 20px;
}
.lang-dropdown .dropdown__trigger:after {
    content: '\25BE';
    margin: 0 0 0 10px;
}
.lang-dropdown__avatar,
.lang-dropdown__name {
    vertical-align: middle;
}
.lang-dropdown .dropdown__content {
    margin-top: -5px;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    background: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
.lang-dropdown__quick-links,
.lang-dropdown__management-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lang-dropdown__segment {
    padding: 10px 0;
    border-bottom: #e1e1e1 1px solid;
}
.lang-dropdown__link {
    padding: 5px 10px;
    min-width: 62px;
}
.lang-dropdown__link:hover{
    background: #E4E4E4;
}
